window {
    margin: 0px;
    border: 2px solid #33ccff;
    background-color: #1a1b26;
    border-radius: 8px;
    font-family: 'JetBrainsMono NF', sans-serif;
    font-size: 16px;
}

#input {
    margin: 10px;
    border: none;
    color: #c0caf5;
    background-color: #24283b;
    border-radius: 5px;
    padding: 8px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
}

#entry {
    padding: 5px;
}

#entry:selected {
    background-color: #33ccff;
    border-radius: 5px;
}

#entry:selected #text {
    color: #1a1b26;
    font-weight: bold;
}
